@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Jost:wght@300&family=Jura:wght@300&family=Staatliches&family=Urbanist:wght@300&display=swap');
html
{
    overflow-x: hidden;
}
body
{
    margin:0px;
}
.header
{
    font-family: 'Jost', sans-serif;
    font-size: 64px;
    background-color: #85DEC5;
    display: flex;
    align-items: center;
    min-height: 190px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #E3E3E3;   
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
}
.back_btn
{
    background-color: #626262;
    margin-left: 20px;
    align-items: center;
    font-size: 40px;
    padding: 4px 43px 4px 23px;
    border-radius: 50px;
    color:#ffff;
    display: flex;
    align-items: center;
    box-shadow: 14px 11px 4px rgba(0, 0, 0, 0.45);
}
.back_arrow
{
    margin-right: 10px;
}

.main_head_cont
{
    letter-spacing: 0.15em;
    color: #626262;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
}
.secret_logo
{
    max-width: 170px;
    border-radius: 50px;
    margin-left: 10px;
}
a
{
    text-decoration: none;
    color: #ffff;
}
.add_element_header
{
    min-width: 5%;
}

.main_content
{

    display:flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 100vh;
    /* background: radial-gradient(82.98% 82.98% at 50% 17.02%, rgba(255, 255, 255, 0) 0%, rgba(72, 72, 72, 0.2) 100%), #686868; */
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.25);
    background-image: url(../images/secret_background_side.webp);
    background-size: cover;
}
.wrapper
{
    width: 83vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    min-height: 100%;
}

.secret_description 
{
    color: white;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.secret_to_btn
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.secret_btn
{
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    color: #2D2D2D;
    background-color: #DCDCDC;
    padding: 15px 132px 15px 132px;
    border-radius: 150px;
    box-shadow: 14px 11px 4px rgba(0, 0, 0, 0.40 );
}
.secret_cont_img
{
    width: 90vw;
    filter: drop-shadow(15px 15px 12px rgba(0, 0, 0, 0.50));
}

























.footer
{
    font-size: 26px;
    font-family: 'Jura';
    min-height: 180px;    
    background: linear-gradient(180deg, rgba(152, 152, 152, 0.2) 0%, rgba(152, 152, 152, 0) 100%), #2D2D2D;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.footer_telegram_logo
{
    max-width: 52px;
}
.fakin_kiska_footer_title
{
    color: white;
}
.contact_footer_fk
{
    width: 17vw;
    display: flex;
    align-items: center;
}
.footer_navbar 
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}
.footer_navbar ul
{
    color: white;

    display: flex; 
    flex-wrap: wrap;  
    justify-content: center;
    
}
.footer_navbar ul li
{
    margin-left: 20px;
    /* display: inline; */
    margin-right: 30px;
}